/* Algemene instellingen */
body {
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-size: 14px;
}
 
.header-left p {

  font-size: 32px;
  
}

.header-right p {

  font-size: 32px;
  
}



h3{
  font-size: 32px;
}

/* Titel */
.title {
  text-align: center;

  

  border-bottom: 1px solid black;
}
.title h1 {
  font-size: 10rem;
  font-weight: normal;
  color: #3d5243;
  text-align: center;
}

/* Over mij */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  padding: 40px;
  border-bottom: 2px solid #000;
  background-color: #fff;
}
.profile {
  text-align: center;
}
.profile-pic {
  width: 423px;
  height: 423px;
  border: 2px solid black;
  margin: 0 auto 19px;
  border-radius: 20px;

}
.about-text {
  font-size: 14px;
  line-height: 1.6;
}
.socials i {
  margin-right: 10px;
  font-size: 18px;
  color: #3d5243;
}
.info {
  font-size: 14px;
}
.info h4 {
  margin-top: 20px;
  color: #3d5243;
}
.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.skills span {
  background: #8EBC8E;
  padding: 5px 10px;
  border-radius: 24px;
  font-size: 13px;
  color: #fff;
  width: 119px;
  height: 114px;
  display: flex; 
  align-items: center; 
  justify-content: center; /* tekst mooi centreren */
}



/* Projecten */
.projects {
  padding: 40px;
  background-color: #f9f9f9;
}
.projects h2 {
  text-align: center;
  color: #3d5243;
  margin-bottom: 30px;
}
.project {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.project h3 {
  color: #3d5243;
}
.project h4 {
  margin-top: 10px;
  color: #555;
}
.btn {
  margin-top: 15px;
  background: #3d5243;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #2a3a2e;
}
